body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10;
}

main {
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

img {
  border: 5px solid red;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}